<!DOCTYPE html>
<html>
<head>
  <%- include ('../header')%>
  
  <!-- bootstrap datepicker -->
  <link rel="stylesheet" href="public/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">
  <div class="wrapper">

    <%- include ('../topMenu')%>
    <!-- Left side column. contains the logo and sidebar -->
    <%- include ('../sideMenu')%>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <h1>
          공지
          <small>공지사항 관리</small>
        </h1>
      </section>

      <!-- Main content -->
      <section class="content">
        <!-- 검색조건 -->
        <div class="col-md-12">
          <div class="box box-solid">
            <div class="form-horizontal">
              <div class="box-body">

                <div class="form-group">

                  <label for="inputEmail3" class="col-sm-1 control-label">제목</label>
                  <div class="col-sm-2">
                    <input type="input" class="form-control" id="inputEmail3">
                  </div>

                  <label for="inputEmail3" class="col-sm-1 control-label">기간</label>
                  <div class="col-sm-2">
                    <div class="input-group">
                      <div class="input-group-addon">
                        <div class="addon-border">
                          <i class="fa fa-calendar"></i>
                        </div>
                      </div>
                      <input type="text" class="form-control pull-right" id="datepicker">
                    </div>
                  </div>
                  <div class="col-sm-2">
                    <button type="button" class="btn btn-sm btn-info">검색</button>
                  </div>

                </div>
              </div>
            </div>
          </div>

          <div class="box box-info">
            <!-- <div class="box-header with-border">
            <h3 class="box-title"></h3>
          </div> -->
          <div class="box-body">
            <button type="button" class="btn btn-sm btn-info" data-toggle="modal" data-target="#myModal">글쓰기</button>
            <div class="pull-right">
              <button type="button" class="btn btn-sm btn-info">수정</button>
              <button type="button" class="btn btn-sm btn-info">삭제</button>
            </div>
            <table id="dataTable" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>제목</th>
                  <th>작성일</th>
                  <th>작성자</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->
<%- include ('../footer')%>



<!-- bootstrap datepicker -->
<script src="public/bower_components/bootstrap-datepicker/dist/js/ko.js"></script>
<script src="public/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>

<script src="routes/notice/notice.js"></script>
<%- include ('modal/regNotice')%>
</body>
</html>
